html {
    padding: 0;
    margin: 0;
    width: auto;
}

body {
    position: relative;
}
h1 {
    font-family: 'Jura', sans-serif;
}

#avecavoc {
    font-family: 'Jura', sans-serif;
    position: absolute;
    left: 95%;
    bottom: 500px;
}

#share {
    font-family: 'Jura', sans-serif;
    color: lightgray;
    position: absolute;
    left: 96%;
    bottom: 460px;
}

#entete {
    margin-top: 10%;
    margin-left: 60%;
}

#efimer {
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
    position: absolute;
    left: 44%;
    bottom: 35%;
}

#list {
    width: 20%;
    position: absolute;
    left: 45%;
    font-family: 'Jura', sans-serif;
    padding: 10px;
}

li {
    list-style-type: none;
    padding: 10px;
}

#doubleimage {
    position: absolute;
    top: 1200px;
    left: 20%;
}

.imagecentre {
    width: 45%;
    padding: 20px;
}

#rouge {
    color: #c14543;
}

#imagefleurcollier {
    position: absolute;
    top: 1600px;
    left: 20%;
}

#fleurbras {
    width: 91%;
    padding: 20px;
}

#doubimageend {
    position: absolute;
    top: 2400px;
    left: 20%;
}

#imagecafe {
    position: absolute;
    top: 3000px;
    left: 31%;
}

#imagechaise {
    position: absolute;
    top: 2950px;
    left: 62%;
}

#previous {
    position: absolute;
    top: 3070px;
    left: 28%;
}

#btw {
    position: absolute;
    top: 3070px;
    left: 51%;
}

#next {
    position: absolute;
    top: 3070px;
    left: 72%;
}

footer {
    position: absolute;
    bottom: 0;
    top: 3400px;
    background-color: #f7f7f7;
    width: 90%;
    height: 350px;
    left: 5%;
}

#icone {
    text-align: center;
    padding-top: 12.5%;
}